.card {
  cursor: pointer;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 250px;
  margin-left: 16px;
  background-color: #ffffff;
  color: #1c1c1e;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 123, 255, 0.2);
  position: relative;
}

.card-link {
  display: block;
  text-decoration: none;
  color: inherit;
  width: 100%;
  height: 100%;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 123, 255, 0.3);
}

.carousel .card-img-top {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-body {
  padding: 15px;
  flex-grow: 1;
  color: #1c1c1e;
}

.card-title {
  font-weight: bold;
  font-size: 1.1rem;
  margin-bottom: 8px;
}

.card-text {
  font-size: 1.2rem;
  font-weight: bold;
  color: #0d6efd;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(0) grayscale(100%) brightness(0.5);
  background-size: 60%;
}

.carousel-control-prev,
.carousel-control-next {
  width: 15%;
}

.carousel .carousel-control-prev,
.carousel .carousel-control-next {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.carousel:hover .carousel-control-prev,
.carousel:hover .carousel-control-next {
  opacity: 0.7;
}
