
.navbar {
  background-color: #f7f7f7;
  width: 100%;
  box-shadow: 0 2px 10px rgba(255, 255, 255, 0.05);
  padding: 10px 20px;
  position: sticky;
  top: 0;
  z-index: 1000;
}


.container {
  background-color: #f7f7f7;
  display: flex;
  align-items: center;
  justify-content: space-between; 
  width: 100%;
  max-width: 1700px; 
  margin: 0 ;
}


.logo {
  display: flex;
  align-items: center;
  height: 60px;
  cursor: pointer;
}

.logo img {
  height: 100%;
  width: auto;
}


.nav-links {
  display: flex;
  align-items: center;
  gap: 35px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-links a {
  text-decoration: none;

  font-weight: 500;
  font-size: 1rem;
  letter-spacing: 0.3px;
  transition: all 0.3s ease;
  position: relative;
  padding: 6px 0;
}


.nav-links a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: -3px;
  left: 0;
  background-color: #0d6efd;
  transition: width 0.3s ease;
}

.nav-links a:hover::after {
  width: 100%;
}

.nav-links a:hover {
  color: #0d6efd;
}



.nav-item .nav-link {
  display: flex;
  align-items: center;
  gap: 6px;
  transition: all 0.3s ease;
}

.nav-item .nav-link:hover {
  color: #0d6efd;
  transform: translateY(-2px);
}


.nav-item:last-child .nav-link {
  background: #0d6efd;
  color: #0d6efd;
  font-weight: 600;
  padding: 6px 16px;
  border-radius: 20px;
  transition: all 0.3s ease;
}

.nav-item:last-child .nav-link:hover {
  background: transparent;
  color:#0d6efd;
  border: 1px solid #0d6efd;
  transform: translateY(-2px);
}


@media (max-width: 992px) {
  .container {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }

  .nav-links {
    flex-wrap: wrap;
    gap: 20px;
  }

  .logo img {
    height: 50px;
  }
}



.navbar {
  transition: transform 0.3s ease;
}

.hide-navbar {
  transform: translateY(-100%);
}

