h4 {
  margin-top: 24px;
  font-size: 28px;
  margin-left: 16px;
  margin-bottom: 10px;
  color: #1c1c1e;
}

.list-group-item {
  font-size: 24px;
  display: block;
  width: 270px;
  padding: 12px 15px;
  color: #555555;
  background-color: #ffffff;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  text-decoration: none;
  white-space: normal;
  word-wrap: break-word;
  overflow-wrap: break-word;
  border: 1px solid #ddd;
}

.list-group-item:hover {
  background-color: #e6f0ff;
  color: #1c1c1e;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li a {
  display: block;
  padding: 12px 20px;
  color: inherit;
  text-decoration: none;
}
