.banner {
  text-align: center;
  margin-bottom: 2rem;
}

.destaques, .produtos-grid {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.filtros {
  display: flex;
  gap: 2rem;
  justify-content: center;
  margin: 1rem 0;
}

.filtros label {
  display: flex;
  flex-direction: column;
}