<div class="banner-container">
    <h2 class="banner-titulo">Produtos em Destaque</h2>

    <div class="banner-produtos">
        <div class="banner-item" *ngFor="let produto of produtosDestaque">
            <img [src]="produto.imagens?.length && produto.imagens[0].url 
              ? produto.imagens[0].url 
              : 'https://res.cloudinary.com/dy3yozja2/image/upload/v1762177701/b5u8gbrpxrvtszjqnn3c.png'"
                [alt]="produto.nome" class="banner-img">
            <div class="banner-info">
                <h4>{{ produto.nome }}</h4>
                <p>{{ produto.preco | currency:'BRL' }}</p>
            </div>
        </div>
    </div>
</div>