<div class="banner-container">
    <div class="hero-banner" [ngStyle]="{'background-image': 'url(' + imagemAtual + ')'}">
        <div class="banner-content">
            <h2>Produtos em Destaque</h2>
            <p>Descubra o poder da inovação com IA e desempenho extremo</p>
            <button class="btn btn-primary btn-lg mt-3" routerLink="/categorias">Saiba mais</button>
        </div>
    </div>
</div>

<div class="container my-5">
    <div class="row">
        <div class="col-md-4" *ngFor="let produto of produtosDestaque">
            <div class="produtos">
                <div class="card">
                    <img [src]="produto.imagens[0]?.url || 'assets/imagens/produtos/default.png'"
                        alt="{{ produto.nome }}" class="card-img-top">
                    <div class="card-body">
                        <h5 class="card-title">{{ produto.nome }}</h5>
                        <p class="card-text">{{ produto.descricao }}</p>
                        <a [routerLink]="['/produto', produto.id]" class="btn btn-primary">Ver Detalhes</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>