.hero-banner {
    background-image: url('https://res.cloudinary.com/dy3yozja2/image/upload/v1762177759/elwrfr2lzr5tixy7hufi.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 70vh;
    padding: 0 1rem;
    width: 80%;

}

.hero-banner h1,
.hero-banner p {
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
}

.hero-banner {
    transition: background-image 1s ease-in-out;
}


.card-img-top {
    width: 900%;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
}
.container{
    height: 400px;
}

img{
height: 220px;
}
@media (max-width: 768px) {
    .card-img-top {
        height: 180px;
    }

    .hero-banner {
        height: 60vh;
    }

    .hero-banner h1 {
        font-size: 2rem;
    }

    .hero-banner p {
        font-size: 1rem;
    }
}