.hero-banner {
    position: relative;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    transition: background-image 1s ease-in-out;
    padding-bottom: 60px;

}

.hero-banner::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.65);
    z-index: 1;
}

.banner-content {
    position: relative;
    z-index: 2;
    color: #fff;
    text-align: center;
    max-width: 800px;
    padding: 1rem 2rem;
}

.banner-content h2 {
    color: #fff;
    font-size: 2.5rem;
    font-weight: 700;
    text-shadow: 1px 1px 6px rgba(0, 0, 0, 0.6);
}

.banner-content p {
    color: #fff;
    font-size: 1.2rem;
    margin-top: 0.5rem;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.6);
}

.card {
    border-radius: 8px;
    width: 350px;
    height: 500px;
    border-color: 1px solid #0d6efd;
    color: #1c1c1e;
}

.card-title {
    color: #1c1c1e;
    height: 32px;
}

.btn-primary {
    color: white;
}

.btn {
    color: white;
}

.card-img-top {
    text-align: center;
    width: 100%;
    height: 350px;
    object-fit: cover;
    border-radius: 8px;
}


@media (max-width: 768px) {
    .card-img-top {
        height: 180px;
    }

    .hero-banner {
        height: 60vh;
    }

    .hero-banner h1 {
        font-size: 2rem;
    }

    .hero-banner p {
        font-size: 1rem;
    }
}



@media (max-width: 1600px) {
    .banner-container {
        border-radius: 16px;
        box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
    }
}