.busca-categorias-container {
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
}

.categorias {
  font-size: 24px;
  top: 20px;
  overflow-y: auto;
  overflow-x: hidden;
  flex-basis: 250px;
  flex-shrink: 0;
  border-right: 1px solid #ddd;
  background-color: #ffffff;
  color: #1c1c1e;
  padding-right: 10px;
}

.produtos {
  width: 100%;
}